<a href="https://colab.research.google.com/github/SAULIZA/nacimientos_defuncion/blob/main/pre_proyecto_nac_def.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Proyecto 2: Defunción fetal y nacimientos
* Realizado por: Saúl Iza
* Fecha de elaborración: 08/04/2023
* Fecha de modificación: 08/04/2023

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

## Fuente de datos:

Los datos fueron adquiridos del banco de datos abiertos del INEC.

## Características de los datos

Los datos que se presentan indican información acerca de defunciones y nacimientos en el Ecuador. Los datos tanto de defunciones como de nacimientos son distintos, pero, ellos comparten algunas características de condiciones exteriores como lugar de nacimiento, establecimiento de atención, y condiciones más internas como por ejemplo la edad de la madre, número de chequeos prepartos, etc. Con estas características podemos hacer un marco de datos en el que se indiquen las características descritas y el fallecimiento o el nacimiento de un niño.

## Objetivo

El objetivo de este análisis de datos es que gracias a los datos obtenidos de nacimientos y defunciones fetales de los años 2012 a 2015, podemos investigar variables muy importantes claves que pueden intervenir en el nacimiento o fallecimiento de un ser humanno en el Ecuador. También queremos averiguar si el fallecimiento o no de un nuevo ser humano esta condicionado por su entorno. Considero que este estudio es muy importante a nivel Social. Esperamos tener resultados sorprendentes, o resultados que tal vez sean obvios sin embargo tener resultados cuantificados siempre es bueno a la hora de medir algo tan delicado como el nacimiento o fallecimiento de un nuevo ser humano.

## Adquisición de datos

* Lectura de archivos defunciones

In [ ]:
#Datos de nacimientos
df_nac = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/nacimiento.csv")

<ipython-input-111-a0640ffe975f>:2: DtypeWarning: Columns (1,2,3,6,7,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df_nac = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/nacimiento.csv")

In [ ]:
#Datos defunciones fetales
df_def= pd.read_csv('/content/drive/MyDrive/Codificación de Dojo/Proyecto2/defunciones.csv')

* Corrección de mezcla de tipos de variables en los datos de nacimientos

In [ ]:
df_nac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2334076 entries, 0 to 2334075
Data columns (total 32 columns):
 #   Column      Dtype
---  ------      -----
 0   prov_insc   object
 1   cant_insc   object
 2   parr_insc   object
 3   anio_insc   object
 4   mes_insc    object
 5   sexo        object
 6   talla       object
 7   peso        object
 8   sem_gest    float64
 9   tipo_part   object
 10  anio_nac    float64
 11  mes_nac     object
 12  p_emb       object
 13  lugar_ocur  object
 14  prov_nac    object
 15  cant_nac    object
 16  parr_nac    object
 17  asis_por    object
 18  area_nac    object
 19  edad_mad    float64
 20  con_pren    float64
 21  hij_viv     float64
 22  hij_vivm    float64
 23  hij_nacm    float64
 24  etnia       object
 25  est_civil   object
 26  sabe_leer   object
 27  niv_inst    object
 28  prov_res    object
 29  cant_res    object
 30  parr_res    object
 31  area_res    object
dtypes: float64(7), object(25)
memory usage: 569.8+ MB

In [ ]:
df_nac.isna().sum()

prov_insc          0
cant_insc       1868
parr_insc     405415
anio_insc          0
mes_insc           0
sexo               0
talla              0
peso               0
sem_gest           0
tipo_part          0
anio_nac           0
mes_nac            0
p_emb              0
lugar_ocur         0
prov_nac           0
cant_nac        1601
parr_nac      115694
asis_por           0
area_nac           0
edad_mad           0
con_pren           0
hij_viv            0
hij_vivm           0
hij_nacm           0
etnia              0
est_civil          0
sabe_leer          0
niv_inst           0
prov_res         145
cant_res        2059
parr_res      275732
area_res           0
dtype: int64

In [ ]:
#eliminamos los datos vacios 
df_nac = df_nac.dropna()

In [ ]:
#eliminamos los datoos vacios, llenos espacios de la columna prov_insc
df_nac = df_nac.loc[df_nac["prov_insc"] != " ",:]

In [ ]:
df_nac["prov_insc"].value_counts()

Guayas                            440940
Pichincha                         271250
Manabi                            164492
Los Rios                          110353
El Oro                             85122
Azuay                              77266
Esmeraldas                         62889
Santo Domingo de los Tsachilas     61095
Tungurahua                         53551
Loja                               51838
Cotopaxi                           47543
Santa Elena                        46602
Imbabura                           43104
Chimborazo                         42907
Canar                              28329
Sucumbios                          26766
Morona Santiago                    23030
Orellana                           21272
Napo                               18381
Bolivar                            18124
Carchi                             15662
Pastaza                            14514
Zamora Chinchipe                   13117
Galapagos                           3079
Name: prov_insc, dtype: int64

In [ ]:
df_nac.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1741226 entries, 0 to 2334075
Data columns (total 32 columns):
 #   Column      Dtype
---  ------      -----
 0   prov_insc   object
 1   cant_insc   object
 2   parr_insc   object
 3   anio_insc   object
 4   mes_insc    object
 5   sexo        object
 6   talla       object
 7   peso        object
 8   sem_gest    float64
 9   tipo_part   object
 10  anio_nac    float64
 11  mes_nac     object
 12  p_emb       object
 13  lugar_ocur  object
 14  prov_nac    object
 15  cant_nac    object
 16  parr_nac    object
 17  asis_por    object
 18  area_nac    object
 19  edad_mad    float64
 20  con_pren    float64
 21  hij_viv     float64
 22  hij_vivm    float64
 23  hij_nacm    float64
 24  etnia       object
 25  est_civil   object
 26  sabe_leer   object
 27  niv_inst    object
 28  prov_res    object
 29  cant_res    object
 30  parr_res    object
 31  area_res    object
dtypes: float64(7), object(25)
memory usage: 438.4+ MB

In [ ]:
#eliminamos los datoos vacios, llenos espacios de la columna anio_insc
df_nac = df_nac.loc[df_nac["anio_insc"] != " ",:]

In [ ]:
df_nac["anio_insc"] = df_nac["anio_insc"].astype(int)

In [ ]:
df_nac["anio_insc"].value_counts()

2017    267048
2019    265345
2018    260300
2016    228836
2021    221325
2020    216263
2014    101934
2013     97873
2015     59050
2022     21370
2012      1880
1900         1
Name: anio_insc, dtype: int64

In [ ]:
#eliminamos los registros de anio insc menor a 2012
df_nac = df_nac.loc[df_nac["anio_insc"] > 2011,:]

In [ ]:
df_nac["anio_insc"].value_counts()

2017    267048
2019    265345
2018    260300
2016    228836
2021    221325
2020    216263
2014    101934
2013     97873
2015     59050
2022     21370
2012      1880
Name: anio_insc, dtype: int64

In [ ]:
#eliminamos la clas "sin informacion de la columna talla"
df_nac = df_nac.loc[df_nac["talla"] != "Sin informacion",:]

In [ ]:
df_nac["talla"] = df_nac["talla"].astype(float)

In [ ]:
#eliminamos la clas "sin informacion de la columna peso"
df_nac = df_nac.loc[df_nac["peso"] != "Sin informacion",:]

In [ ]:
df_nac["peso"] = df_nac["peso"].astype(float)

In [ ]:
pd.set_option('display.max_columns', None)

Relación entre regiones de inscripción, nacimiento y residencia

In [ ]:
(df_nac["prov_insc"] == df_nac["prov_nac"]).value_counts()

True     1647126
False      91442
dtype: int64

In [ ]:
(df_nac["prov_insc"] == df_nac["prov_res"]).value_counts()

True     1658703
False      79865
dtype: int64

In [ ]:
(df_nac["prov_nac"] == df_nac["prov_res"]).value_counts()

True     1649468
False      89100
dtype: int64

* Igualación de nombres de columnas de datos de defunciones y nacimientos

In [ ]:
df_def.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11560 entries, 0 to 11559
Data columns (total 30 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   prov_insc    11560 non-null  object
 1   cant_insc    11560 non-null  object
 2   parr_insc    9408 non-null   object
 3   anio_insc    11560 non-null  float64
 4   mes_insc     11560 non-null  object
 5   sexo         11560 non-null  object
 6   sem_gest     11560 non-null  float64
 7   anio_fall    11560 non-null  float64
 8   mes_fall     11560 non-null  object
 9   asis_por     11560 non-null  object
 10  p_emb        11560 non-null  object
 11  lugar_ocur   11560 non-null  object
 12  prov_fall    11560 non-null  object
 13  cant_fall    11560 non-null  object
 14  parr_fall    11368 non-null  object
 15  area_fall    11560 non-null  object
 16  causa_fetal  11560 non-null  object
 17  edad_mad     11560 non-null  float64
 18  hij_viv      11560 non-null  float64
 19  hij_vivm     11560 non-null  float64
 20  hij_nacm     11560 non-null  float64
 21  con_pren     11560 non-null  float64
 22  etnia        11560 non-null  object
 23  est_civil    11560 non-null  object
 24  sabe_leer    11560 non-null  object
 25  niv_inst     11560 non-null  object
 26  prov_res     11559 non-null  object
 27  cant_res     11559 non-null  object
 28  parr_res     10367 non-null  object
 29  area_res     11560 non-null  object
dtypes: float64(8), object(22)
memory usage: 2.6+ MB

In [ ]:
df_nac.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1738568 entries, 0 to 2334075
Data columns (total 32 columns):
 #   Column      Dtype
---  ------      -----
 0   prov_insc   object
 1   cant_insc   object
 2   parr_insc   object
 3   anio_insc   int64
 4   mes_insc    object
 5   sexo        object
 6   talla       float64
 7   peso        float64
 8   sem_gest    float64
 9   tipo_part   object
 10  anio_nac    float64
 11  mes_nac     object
 12  p_emb       object
 13  lugar_ocur  object
 14  prov_nac    object
 15  cant_nac    object
 16  parr_nac    object
 17  asis_por    object
 18  area_nac    object
 19  edad_mad    float64
 20  con_pren    float64
 21  hij_viv     float64
 22  hij_vivm    float64
 23  hij_nacm    float64
 24  etnia       object
 25  est_civil   object
 26  sabe_leer   object
 27  niv_inst    object
 28  prov_res    object
 29  cant_res    object
 30  parr_res    object
 31  area_res    object
dtypes: float64(9), int64(1), object(22)
memory usage: 437.7+ MB

In [ ]:
#primero vamos a renombrar las columnas de los datos de nacimiento
renam_nac = {"anio_nac":"anio","mes_nac":"mes","prov_nac":"provincia","cant_nac":"canton","parr_nac":"parroquia","area_nac":"area"}
df_nac = df_nac.rename(columns=renam_nac)

In [ ]:
#renombramos las columnas de los datos de defunciones
renam_def = {"anio_fall":"anio","mes_fall":"mes","prov_fall":"provincia","cant_fall":"canton","parr_fall":"parroquia","area_fall":"area"}
df_def = df_def.rename(columns=renam_def)

## Selección de columnas importantes

In [ ]:
df_nac.columns

Index(['prov_insc', 'cant_insc', 'parr_insc', 'anio_insc', 'mes_insc', 'sexo',
       'talla', 'peso', 'sem_gest', 'tipo_part', 'anio', 'mes', 'p_emb',
       'lugar_ocur', 'provincia', 'canton', 'parroquia', 'asis_por', 'area',
       'edad_mad', 'con_pren', 'hij_viv', 'hij_vivm', 'hij_nacm', 'etnia',
       'est_civil', 'sabe_leer', 'niv_inst', 'prov_res', 'cant_res',
       'parr_res', 'area_res'],
      dtype='object')

In [ ]:
col_selec = ['sexo','sem_gest', 'anio', 'mes', 'p_emb',
       'lugar_ocur', 'provincia', 'canton', 'parroquia', 'asis_por', 'area',
       'edad_mad', 'con_pren', 'hij_viv', 'hij_vivm', 'hij_nacm', 'etnia',
       'est_civil', 'sabe_leer', 'niv_inst', 'prov_res', 'cant_res',
       'parr_res', 'area_res']

In [ ]:
# nevo marco de datos con las columnas seleccionadas
new_nac = df_nac.loc[:,col_selec]
new_def = df_def.loc[:,col_selec]

In [ ]:
#df_def.loc[df_def["causa_fetal"].str.contains("neonatal"),:]["causa_fetal"].value_counts()

In [ ]:
df_def["mes"].value_counts()

Mayo          1059
Enero         1047
Junio         1023
Agosto        1006
Diciembre      970
Octubre        956
Noviembre      949
Septiembre     938
Julio          935
Marzo          915
Abril          898
Febrero        864
Name: mes, dtype: int64

## Unión de ambos datos

In [ ]:
#antes de unirlos debemos aumentar una columna en el que debe constar el estado del ser vivo: vivo=1, defunción=0  
new_nac = new_nac.assign(Estado=[1]*len(df_nac))
new_def = new_def.assign(Estado=[0]*len(df_def))

In [ ]:
#Unimos ambos conjuntos de datos
df = pd.concat([new_nac, new_def])

In [ ]:
df.head()

,sexo,sem_gest,anio,mes,p_emb,lugar_ocur,provincia,canton,parroquia,asis_por,area,edad_mad,con_pren,hij_viv,hij_vivm,hij_nacm,etnia,est_civil,sabe_leer,niv_inst,prov_res,cant_res,parr_res,area_res,Estado
0,Hombre,35.0,2012.0,Mayo,Simple,Establecimiento_ministerio_de_salud,Azuay,Cuenca,Cuenca,Medico,Urbana,27.0,9.0,3.0,1.0,1.0,Mestiza,Casada,Si,Primaria,Azuay,Cuenca,Cuenca,Urbana,1
1,Mujer,38.0,2012.0,Mayo,Simple,Hospital_clinica_consultorio_privado,Azuay,Cuenca,Cuenca,Medico,Urbana,19.0,12.0,2.0,0.0,0.0,Mestiza,Soltera,Si,Superior,Azuay,Cuenca,Cuenca,Urbana,1
2,Mujer,38.0,2012.0,Mayo,Simple,Establecimiento_IESS,Azuay,Cuenca,Cuenca,Medico,Urbana,17.0,12.0,1.0,0.0,0.0,Mestiza,Unida,Si,Secundaria,Azuay,Cuenca,Cuenca,Urbana,1
3,Mujer,38.0,2012.0,Mayo,Simple,Establecimiento_ministerio_de_salud,Azuay,Cuenca,Cuenca,Medico,Urbana,28.0,6.0,3.0,0.0,1.0,Mestiza,Casada,Si,Secundaria,Azuay,Cuenca,Cuenca,Urbana,1
4,Hombre,39.0,2012.0,Febrero,Simple,Establecimiento_ministerio_de_salud,Azuay,Cuenca,Cuenca,Medico,Urbana,23.0,3.0,3.0,0.0,1.0,Otra,Viuda,Si,Primaria,Azuay,Cuenca,Sinicay,Rural,1

In [ ]:
#Guardamos el data frame con el que vamos a trabajar
df.to_csv('defuncion_nacimientos.csv', index=False)