<a href="https://colab.research.google.com/github/SAULIZA/nacimientos_defuncion/blob/main/pre_proyecto_nacimiento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Nacimientos

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
!pip install pyreadstat

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyreadstat
  Downloading pyreadstat-1.2.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.7/2.7 MB 41.5 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.9/dist-packages (from pyreadstat) (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.2.0->pyreadstat) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.2.0->pyreadstat) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pyreadstat) (1.16.0)
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.2.1

In [ ]:
import pandas as pd
import numpy as np
import pyreadstat

## Lectura de datos

In [ ]:
df1 = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/nacimientos/Base_Nacimientos_2012.dat",sep='\t')

In [ ]:
df1.duplicated().sum()

0

In [ ]:
df2, meta = pyreadstat.read_sav('/content/drive/MyDrive/Codificación de Dojo/Proyecto2/nacimientos/Base_Nacidos_Vivos_año_2013.sav')
df2 = pd.DataFrame(df2)

In [ ]:
df2.duplicated().sum()

0

In [ ]:
df3, meta = pyreadstat.read_sav('/content/drive/MyDrive/Codificación de Dojo/Proyecto2/nacimientos/ENV_2014.sav')
df3 = pd.DataFrame(df3)

In [ ]:
df3.duplicated().sum()

168

In [ ]:
df3 = df3.drop_duplicates()

In [ ]:
df4, meta = pyreadstat.read_sav('/content/drive/MyDrive/Codificación de Dojo/Proyecto2/nacimientos/ENV_2015.sav')
df4 = pd.DataFrame(df4)

In [ ]:
df4.duplicated().sum()

347

In [ ]:
df4 = df4.drop_duplicates()

In [ ]:
df5 = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/nacimientos/ENV_2016.csv", encoding='ISO-8859-1')

<ipython-input-14-adbe837b2ca4>:1: DtypeWarning: Columns (1,2,3,5,12,13,14,16,17,27,29,31,32,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df5 = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/nacimientos/ENV_2016.csv", encoding='ISO-8859-1')

In [ ]:
df5.duplicated().sum()

34

In [ ]:
df5 = df5.drop_duplicates()

In [ ]:
df6 = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/nacimientos/ENV_2017.csv", encoding='ISO-8859-1')

<ipython-input-17-b9f882f394a4>:1: DtypeWarning: Columns (3,5,12,13,14,16,17,27,29,31,32,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df6 = pd.read_csv("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/nacimientos/ENV_2017.csv", encoding='ISO-8859-1')

In [ ]:
df6.duplicated().sum()

60

In [ ]:
df6 = df6.drop_duplicates()

In [ ]:
df7 = pd.read_excel("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/nacimientos/2018.xlsx")

In [ ]:
df7.duplicated().sum()

51

In [ ]:
df7 = df7.drop_duplicates()

In [ ]:
df8 = pd.read_excel("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/nacimientos/2019.xlsx")

In [ ]:
df8.duplicated().sum()

92

In [ ]:
df8 = df8.drop_duplicates()

In [ ]:
df9 = pd.read_excel("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/nacimientos/2020.xlsx")

In [ ]:
df9.duplicated().sum()

53

In [ ]:
df9 = df9.drop_duplicates()

In [ ]:
df10 = pd.read_excel("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/nacimientos/2021.xlsx")

In [ ]:
df10.duplicated().sum()

34

In [ ]:
df10 = df10.drop_duplicates()

In [ ]:
pd.set_option('display.max_columns', None)

## Selección de columnas

In [ ]:
names1 = ['prov_insc', 'cant_insc', 'parr_insc', 'anio_insc',
       'mes_insc', 'sexo', 'talla', 'peso', 'sem_gest',
       'tipo_part', 'anio_nac', 'mes_nac', 'p_emb', 'lugar_ocur', 'prov_nac',
       'cant_nac', 'parr_nac', 'asis_por', 'area_nac', 'edad_mad',
       'con_pren', 'hij_vivos', 'hij_vivm', 'hij_nacm', 'p_etnica',
       'est_civil', 'sabe_leer', 'niv_inst', 'prov_res', 'cant_res',
       'parr_res', 'area_res']
df1 = df1.loc[:, names1]

In [ ]:
df1.shape

(345151, 32)

In [ ]:
names2 = ['prov_insc', 'cant_insc', 'parr_insc', 'anio_insc',
       'mes_insc', 'sexo', 'talla',
       'peso', 'sem_gest', 'tipo_part', 'anio_nac', 'mes_nac',
       'p_emb', 'lugar_ocur', 'prov_nac', 'cant_nac',
       'parr_nac', 'asis_por', 'area_nac',
       'edad_mad', 'con_pren', 
       'hij_viv', 'hij_vivm', 'hij_nacm', 'etnia', 'est_civil', 'sabe_leer',
       'niv_inst', 'prov_res', 'cant_res', 'parr_res', 'area_res']
df2 = df2.loc[:, names2]

In [ ]:
df3 = df3.loc[:, names2]

In [ ]:
df4 = df4.loc[:, names2]

In [ ]:
df5 = df5.loc[:, names2]

In [ ]:
df6 = df6.loc[:, names2]

In [ ]:
df7 = df7.loc[:, names2]

In [ ]:
df8 = df8.loc[:, names2]

In [ ]:
df9 = df9.loc[:, names2]

In [ ]:
df10 = df10.loc[:, names2]

In [ ]:
df10.columns

Index(['prov_insc', 'cant_insc', 'parr_insc', 'anio_insc', 'mes_insc', 'sexo',
       'talla', 'peso', 'sem_gest', 'tipo_part', 'anio_nac', 'mes_nac',
       'p_emb', 'lugar_ocur', 'prov_nac', 'cant_nac', 'parr_nac', 'asis_por',
       'area_nac', 'edad_mad', 'con_pren', 'hij_viv', 'hij_vivm', 'hij_nacm',
       'etnia', 'est_civil', 'sabe_leer', 'niv_inst', 'prov_res', 'cant_res',
       'parr_res', 'area_res'],
      dtype='object')

## Corrección de nombre de columnas

In [ ]:
df1 = df1.rename(columns={"hij_vivos":"hij_viv","p_etnica":"etnia",})

## Decodificación de datos de los años 2011 hasta 2014

In [ ]:
#concatenación de datos del año 2012 hasta 2015
df_nac1 = pd.concat([df1, df2, df3, df4])

In [ ]:
df_nac1.isna().sum()

prov_insc         0
cant_insc         0
parr_insc         0
anio_insc         0
mes_insc          0
sexo              0
talla         32437
peso          32437
sem_gest      32437
tipo_part     32437
anio_nac          0
mes_nac           0
p_emb         74122
lugar_ocur    74122
prov_nac          0
cant_nac          0
parr_nac          0
asis_por      74122
area_nac      74122
edad_mad      74122
con_pren      74122
hij_viv       74122
hij_vivm      74122
hij_nacm      74122
etnia         74122
est_civil     74122
sabe_leer     74122
niv_inst      77897
prov_res          0
cant_res          0
parr_res          0
area_res          0
dtype: int64

In [ ]:
df_nac1["prov_nac"].value_counts().head()

09    240703
17    153759
       74122
9      73961
13     73496
Name: prov_nac, dtype: int64

In [ ]:
df_nac1["prov_nac"] = df_nac1["prov_nac"].replace("",0)
df_nac1["cant_nac"] = df_nac1["cant_nac"].replace("",0)
df_nac1["parr_nac"] = df_nac1["parr_nac"].replace("",0)

In [ ]:
#cambiar todos el data frame a float
df_nac1["prov_insc"] = df_nac1["prov_insc"].astype(int)
df_nac1["prov_nac"] = df_nac1["prov_nac"].astype(int)
df_nac1["prov_res"] = df_nac1["prov_res"].astype(int)
df_nac1["cant_insc"] = df_nac1["cant_insc"].astype(int)
df_nac1["cant_nac"] = df_nac1["cant_nac"].astype(int)
df_nac1["cant_res"] = df_nac1["cant_res"].astype(int)
df_nac1["parr_insc"] = df_nac1["parr_insc"].astype(int)
df_nac1["parr_nac"] = df_nac1["parr_nac"].astype(int)
df_nac1["parr_res"] = df_nac1["parr_res"].astype(int)

In [ ]:
provi = pd.read_excel("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/provincia.xlsx", index_col=False)
provi = provi.set_index("codigo")
dicc_prov = provi.to_dict()['provincia']

In [ ]:
canto = pd.read_excel("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/canton.xlsx")
canto = canto.set_index("codigo")
dicc_canto = canto.to_dict()['canton']

In [ ]:
parro = pd.read_excel("/content/drive/MyDrive/Codificación de Dojo/Proyecto2/parroquia.xlsx")
parro = parro.set_index("codigo")
dicc_parro = parro.to_dict()['parroquia']

Provincia, canton  y parroquia

In [ ]:
df_nac1["prov_insc"] = df_nac1["prov_insc"].replace(dicc_prov)
df_nac1["prov_nac"] = df_nac1["prov_nac"].replace(dicc_prov)
df_nac1["prov_res"] = df_nac1["prov_res"].replace(dicc_prov)

In [ ]:
df_nac1["cant_insc"] = df_nac1["cant_insc"].replace(dicc_canto)
df_nac1["cant_nac"] = df_nac1["cant_nac"].replace(dicc_canto)
df_nac1["cant_res"] = df_nac1["cant_res"].replace(dicc_canto)

In [ ]:
df_nac1["parr_insc"] = df_nac1["parr_insc"].replace(dicc_parro)
df_nac1["parr_nac"] = df_nac1["parr_nac"].replace(dicc_parro)
df_nac1["parr_res"] = df_nac1["parr_res"].replace(dicc_parro)

Sexo y mes

In [ ]:
df_nac1["sexo"] = df_nac1["sexo"].replace({1:"Hombre",2:"Mujer"})
meses = {1:"Enero",2:"Febrero",3:"Marzo",4:"Abril",5:"Mayo",6:"Junio",7:"Julio",8:"Agosto",9:"Septiembre",10:"Octubre",11:"Noviembre",12:"Diciembre"}
df_nac1["mes_insc"] = df_nac1["mes_insc"].replace(meses)
df_nac1["mes_nac"] = df_nac1["mes_nac"].replace(meses)

Reemplazo de asistido por, producto de embarazo y lugar de ocurrencia

In [ ]:
asistencia = {1:"Medico",2:"Obstetra",3:"Enfermero_a",4:"Auxiliar_enfermeria",5:"Partero_a_calificad",6:"Partero_a_no_calificado",7:"Otro",9:"Ignorado"}
df_nac1["asis_por"] = df_nac1["asis_por"].replace(asistencia)

In [ ]:
prod_embar = {1:"Simple", 2:"Doble",3:"Triple",4:"Cuadruple_o_mas"}
df_nac1["p_emb"] = df_nac1["p_emb"].replace(prod_embar)

In [ ]:
lug_oc = {1:"Establecimiento_ministerio_de_salud",2:"Establecimiento_IESS",3:"Establecimiento_junta_beneficiaria",4:"Otro_establecimiento_publico",5:"Hospital_clinica_consultorio_privado",6:"Casa",7:"Otro"}
df_nac1["lugar_ocur"] = df_nac1["lugar_ocur"].replace(lug_oc)

Reemplazo de area de residencia y fallecimiento, etnia, estado civil, sabe leer y nivel de instrucción

In [ ]:
df_nac1["area_res"] = df_nac1["area_res"].replace({1:"Urbana",2:"Rural"})

In [ ]:
df_nac1["area_nac"] = df_nac1["area_nac"].replace({1:"Urbana",2:"Rural"})

In [ ]:
df_nac1["etnia"] = df_nac1["etnia"].replace({1:"Indigena",2:"Afro_ecuatoriana",3:"Negra",4:"Mulata",5:"Montubia",6:"Mestiza",7:"Blanca",8:"Otra",9:"Ignorado"})

In [ ]:
df_nac1["est_civil"] = df_nac1["est_civil"].replace({1:"Unida",2:"Soltera",3:"Casada",4:"Divorciada",5:"Separada",6:"Viuda",9:"Se ignora"})

In [ ]:
df_nac1["sabe_leer"] = df_nac1["sabe_leer"].replace({1:"Si",2:"No",9:"Ignorado"})

In [ ]:
df_nac1["niv_inst"] = df_nac1["niv_inst"].replace({0:"Ninguno",1:"Centro_de_alfabetizacion",2:"Primaria",3:"Secundaria",4:"Educacion_basica",5:"Educacion_media",6:"Ciclo_post_bachillerato",7:"Superior",8:"Postgrado",9:"Se_ignora"})

Reemplazo de tipo de parto

In [ ]:
df_nac1["tipo_part"] = df_nac1["tipo_part"].replace({1:"Normal",2:"Cesarea",9:"Ignorado"})

In [ ]:
df_nac1.head()

,prov_insc,cant_insc,parr_insc,anio_insc,mes_insc,sexo,talla,peso,sem_gest,tipo_part,anio_nac,mes_nac,p_emb,lugar_ocur,prov_nac,cant_nac,parr_nac,asis_por,area_nac,edad_mad,con_pren,hij_viv,hij_vivm,hij_nacm,etnia,est_civil,sabe_leer,niv_inst,prov_res,cant_res,parr_res,area_res
0,Azuay,Cuenca,Cuenca,2012.0,Enero,Mujer,49.0,2900.0,99.0,Normal,2011.0,Octubre,Simple,Establecimiento_ministerio_de_salud,Azuay,Cuenca,Cuenca,Medico,Urbana,30.0,99.0,2.0,99.0,99.0,Mestiza,Soltera,Si,Primaria,Azuay,Cuenca,Cuenca,Urbana
1,Azuay,Cuenca,Cuenca,2012.0,Enero,Hombre,51.0,3100.0,39.0,Normal,2011.0,Marzo,Simple,Establecimiento_ministerio_de_salud,Azuay,Cuenca,Cuenca,Medico,Urbana,19.0,99.0,2.0,99.0,99.0,Mestiza,Soltera,Si,Secundaria,Azuay,Cuenca,Cuenca,Urbana
2,Azuay,Cuenca,Cuenca,2012.0,Enero,Mujer,40.0,1300.0,33.0,Cesarea,2011.0,Diciembre,Simple,Otro_establecimiento_publico,Azuay,Cuenca,Cuenca,Medico,Urbana,33.0,99.0,1.0,99.0,99.0,Mestiza,Soltera,Si,Superior,Azuay,Cuenca,Cuenca,Urbana
3,Azuay,Cuenca,Cuenca,2012.0,Enero,Hombre,50.0,3100.0,40.0,Cesarea,2011.0,Septiembre,Simple,Establecimiento_ministerio_de_salud,Azuay,Cuenca,Cuenca,Medico,Urbana,31.0,99.0,6.0,99.0,99.0,Mestiza,Casada,Si,Secundaria,Azuay,Cuenca,Cuenca,Urbana
4,Azuay,Cuenca,Cuenca,2012.0,Enero,Mujer,44.0,3200.0,99.0,Cesarea,2011.0,Octubre,Simple,Establecimiento_ministerio_de_salud,Azuay,Cuenca,Cuenca,Medico,Urbana,19.0,99.0,2.0,99.0,1.0,Mestiza,Unida,Si,Secundaria,Azuay,Cuenca,Cuenca,Urbana

In [ ]:
#creamos una copia del data frame
#df_def = df_def1.copy()

## Análisis del data frame de los años 2012-2015

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
df_nac1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1339041 entries, 0 to 351010
Data columns (total 32 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   prov_insc   1339041 non-null  object
 1   cant_insc   1339041 non-null  object
 2   parr_insc   1339041 non-null  object
 3   anio_insc   1339041 non-null  float64
 4   mes_insc    1339041 non-null  object
 5   sexo        1339041 non-null  object
 6   talla       1306604 non-null  float64
 7   peso        1306604 non-null  float64
 8   sem_gest    1306604 non-null  float64
 9   tipo_part   1306604 non-null  object
 10  anio_nac    1339041 non-null  float64
 11  mes_nac     1339041 non-null  object
 12  p_emb       1264919 non-null  object
 13  lugar_ocur  1264919 non-null  object
 14  prov_nac    1339041 non-null  object
 15  cant_nac    1339041 non-null  object
 16  parr_nac    1339041 non-null  object
 17  asis_por    1264919 non-null  object
 18  area_nac    1264919 non-null  object
 19  edad_mad    1264919 non-null  float64
 20  con_pren    1264919 non-null  float64
 21  hij_viv     1264919 non-null  float64
 22  hij_vivm    1264919 non-null  float64
 23  hij_nacm    1264919 non-null  float64
 24  etnia       1264919 non-null  object
 25  est_civil   1264919 non-null  object
 26  sabe_leer   1264919 non-null  object
 27  niv_inst    1261144 non-null  object
 28  prov_res    1339041 non-null  object
 29  cant_res    1339041 non-null  object
 30  parr_res    1339041 non-null  object
 31  area_res    1339041 non-null  object
dtypes: float64(10), object(22)
memory usage: 337.1+ MB

In [ ]:
df_nac1.isna().sum()

prov_insc         0
cant_insc         0
parr_insc         0
anio_insc         0
mes_insc          0
sexo              0
talla         32437
peso          32437
sem_gest      32437
tipo_part     32437
anio_nac          0
mes_nac           0
p_emb         74122
lugar_ocur    74122
prov_nac          0
cant_nac          0
parr_nac          0
asis_por      74122
area_nac      74122
edad_mad      74122
con_pren      74122
hij_viv       74122
hij_vivm      74122
hij_nacm      74122
etnia         74122
est_civil     74122
sabe_leer     74122
niv_inst      77897
prov_res          0
cant_res          0
parr_res          0
area_res          0
dtype: int64

In [ ]:
df_nac1["anio_insc"].value_counts()

2012.0    345151
2013.0    324653
2015.0    320411
2014.0    318573
2016.0     30253
Name: anio_insc, dtype: int64

In [ ]:
df_nac1["mes_insc"].value_counts()

Enero         125199
Marzo         120813
Abril         115564
Julio         113200
Octubre       112238
Septiembre    110717
Mayo          109426
Agosto        109343
Junio         108028
Febrero       105443
Diciembre     103304
Noviembre     103000
99.0            2766
Name: mes_insc, dtype: int64

In [ ]:
df_nac1["sexo"].value_counts()

Hombre    685415
Mujer     653626
Name: sexo, dtype: int64

In [ ]:
df_nac1["sem_gest"].value_counts()

39.0    344419
38.0    280210
40.0    249534
99.0    211488
37.0     93044
41.0     45279
36.0     32828
35.0     13264
34.0      9572
42.0      8921
33.0      4920
32.0      4320
30.0      2255
31.0      2162
28.0      2035
29.0      1175
27.0       378
26.0       295
25.0       211
24.0       122
22.0        95
23.0        77
Name: sem_gest, dtype: int64

In [ ]:
#eliminamos las filas donde semana de gestacion =99
df_nac1 = df_nac1.loc[df_nac1["sem_gest"] != 99,:]

In [ ]:
df_nac1["anio_nac"].value_counts()

2015.0    254474
2012.0    253243
2014.0    253037
2013.0    248237
2011.0     68974
2010.0     17705
2009.0     11193
2008.0      6324
2007.0      3579
2006.0      2077
2005.0      1383
2004.0      1107
2003.0       902
2002.0       803
2001.0       710
2000.0       600
1999.0       417
1998.0       286
1997.0       277
1996.0       257
1995.0       169
1994.0       126
1993.0       109
1990.0        84
1992.0        81
1991.0        75
1989.0        49
1988.0        45
1984.0        42
1986.0        39
1987.0        32
1980.0        31
1985.0        29
1934.0        29
1982.0        28
1945.0        27
1940.0        27
1965.0        26
1962.0        26
1983.0        24
1979.0        24
1978.0        24
1944.0        23
1981.0        23
1948.0        23
1954.0        22
1947.0        22
1933.0        21
1938.0        21
1939.0        21
1977.0        20
1928.0        20
1955.0        20
1930.0        20
1975.0        19
1957.0        17
1976.0        17
1935.0        16
1960.0        16
1946.0        16
1974.0        16
1932.0        16
1943.0        16
1924.0        15
1942.0        15
1941.0        15
1970.0        14
1961.0        14
1969.0        14
1958.0        14
1973.0        13
1926.0        13
1968.0        13
1952.0        13
1959.0        13
1967.0        13
1936.0        13
1971.0        13
1927.0        13
1949.0        12
1972.0        12
1953.0        12
1937.0        12
1920.0        12
1966.0        11
1929.0        11
1963.0        10
1950.0        10
1964.0        10
1956.0        10
1951.0         9
1921.0         9
1931.0         8
1925.0         7
1918.0         6
1922.0         6
1923.0         5
1919.0         5
1917.0         4
1905.0         3
1914.0         3
1912.0         2
1910.0         2
1899.0         2
1916.0         1
1913.0         1
1911.0         1
1915.0         1
1909.0         1
1907.0         1
Name: anio_nac, dtype: int64

In [ ]:
#eliminamos registros de años menores a 2012
df_nac1 = df_nac1.loc[df_nac1["anio_nac"] > 2011 ,:]

In [ ]:
df_nac1["asis_por"].value_counts()

Medico                     852866
Obstetra                   131951
Otro                         7274
Partero_a_no_calificado      4202
Partero_a_calificad          1087
Auxiliar_enfermeria           300
Enfermero_a                   286
Name: asis_por, dtype: int64

In [ ]:
#Eliminamos las filas donde no hay datos de asistido por
df_nac1 = df_nac1.dropna(subset=["asis_por"])

In [ ]:
df_nac1["p_emb"].value_counts()

Simple             983433
Doble               13947
Triple                482
Cuadruple_o_mas       104
Name: p_emb, dtype: int64

In [ ]:
df_nac1["lugar_ocur"].value_counts()

Establecimiento_ministerio_de_salud     510261
Hospital_clinica_consultorio_privado    274477
Establecimiento_junta_beneficiaria       92329
Establecimiento_IESS                     70927
Otro_establecimiento_publico             29129
Casa                                     15766
Otro                                      5077
Name: lugar_ocur, dtype: int64

In [ ]:
df_nac1["area_nac"].value_counts()

Urbana    962116
Rural      35850
Name: area_nac, dtype: int64

In [ ]:
df_nac1["edad_mad"].value_counts()

20.0    58424
19.0    57804
21.0    56821
22.0    54518
23.0    52114
18.0    51568
24.0    50432
25.0    48929
26.0    48210
27.0    46406
28.0    44557
17.0    42882
29.0    42296
30.0    40453
31.0    36692
32.0    34351
33.0    30657
16.0    30142
34.0    26902
35.0    24160
36.0    20721
37.0    17035
15.0    16561
38.0    14367
39.0    11279
40.0     8986
41.0     6439
14.0     6212
99.0     5116
42.0     4579
43.0     2884
44.0     1767
13.0     1446
45.0      908
46.0      491
12.0      258
47.0      235
48.0      188
49.0      142
11.0       34
Name: edad_mad, dtype: int64

In [ ]:
#eliminamos edades de madres de 99 años
df_nac1 = df_nac1.loc[df_nac1["edad_mad"] != 99 ,:]

In [ ]:
df_nac1["con_pren"].value_counts()

99.0    148522
9.0     134537
8.0     133085
6.0     121676
7.0     113061
5.0      88583
4.0      57984
10.0     54424
3.0      36445
2.0      21712
1.0      21569
12.0     20984
0.0      18845
11.0      6551
15.0      6229
13.0      2476
14.0      2014
20.0      1590
18.0       672
16.0       671
25.0       662
17.0       201
19.0       147
21.0        59
22.0        54
24.0        53
23.0        44
Name: con_pren, dtype: int64

In [ ]:
#eliminamos controles fetales iguales a 99
df_nac1 = df_nac1.loc[df_nac1["con_pren"] != 99,:]

In [ ]:
df_nac1["con_pren"].value_counts()

9.0     134537
8.0     133085
6.0     121676
7.0     113061
5.0      88583
4.0      57984
10.0     54424
3.0      36445
2.0      21712
1.0      21569
12.0     20984
0.0      18845
11.0      6551
15.0      6229
13.0      2476
14.0      2014
20.0      1590
18.0       672
16.0       671
25.0       662
17.0       201
19.0       147
21.0        59
22.0        54
24.0        53
23.0        44
Name: con_pren, dtype: int64

In [ ]:
df_nac1["hij_viv"].value_counts()

1.0     352366
2.0     252162
3.0     141403
4.0      56739
5.0      22270
6.0       9993
7.0       4648
8.0       2318
9.0       1213
10.0       653
11.0       311
12.0       162
13.0        62
14.0        19
15.0         7
17.0         1
16.0         1
Name: hij_viv, dtype: int64

In [ ]:
df_nac1["hij_vivm"].value_counts()

0.0     720960
99.0    100417
1.0      19583
2.0       2459
3.0        557
4.0        167
6.0         75
5.0         68
9.0         14
10.0        12
7.0         10
8.0          5
12.0         1
Name: hij_vivm, dtype: int64

In [ ]:
#eliminamos las madres que registraron un numero de hijos vivos que han muerto =99
df_nac1 = df_nac1.loc[df_nac1["hij_vivm"] != 99 ,:]

In [ ]:
df_nac1["hij_nacm"].value_counts()

0.0     716786
1.0      17928
99.0      5604
2.0       2740
3.0        510
4.0        133
6.0        113
5.0         52
7.0         13
10.0        11
9.0          9
8.0          8
12.0         2
13.0         1
11.0         1
Name: hij_nacm, dtype: int64

In [ ]:
#eliminamos las madres que registraron un numero de hijos nacidos muertos =99
df_nac1 = df_nac1.loc[df_nac1["hij_nacm"] != 99 ,:]

In [ ]:
df_nac1["etnia"].value_counts()

Mestiza             651771
Indigena             38151
Ignorado             11742
Blanca               10974
Negra                 7577
Afro_ecuatoriana      6731
Mulata                4691
Montubia              3997
Otra                  2673
Name: etnia, dtype: int64

In [ ]:
df_nac1["est_civil"].value_counts()

Unida         311542
Casada        237232
Soltera       162712
Se ignora      14877
Divorciada      6504
7.0             2383
Separada        1867
Viuda           1190
Name: est_civil, dtype: int64

In [ ]:
df_nac1["est_civil"] = df_nac1["est_civil"].replace(7,"Se ignora")

In [ ]:
df_nac1["sabe_leer"].value_counts()

Si          724718
No            6819
Ignorado      6770
Name: sabe_leer, dtype: int64

In [ ]:
df_nac1["niv_inst"].isna().sum()

2641

In [ ]:
df_nac1["niv_inst"].value_counts()

Secundaria                  251153
Primaria                    182130
Superior                    123629
Educacion_media              74960
Educacion_basica             48575
Se_ignora                    34980
Ciclo_post_bachillerato      12428
Ninguno                       3903
Postgrado                     2236
Centro_de_alfabetizacion      1672
Name: niv_inst, dtype: int64

In [ ]:
#añadimos el grupo de celdas vacias del nivel institucional a la clase se ignora
df_nac1["niv_inst"] = df_nac1["niv_inst"].fillna("Se_ignora")

In [ ]:
df_nac1["niv_inst"].isna().sum()

0

In [ ]:
#Eliminamos los espacios de las columnas
df_nac1["prov_insc"] = df_nac1["prov_insc"].str.strip().str.replace(r'"\s+', '"').str.replace(r'\s+"', '"')
df_nac1["cant_insc"] = df_nac1["cant_insc"].str.strip().str.replace(r'"\s+', '"').str.replace(r'\s+"', '"')
df_nac1["parr_insc"] = df_nac1["parr_insc"].str.strip().str.replace(r'"\s+', '"').str.replace(r'\s+"', '"')
df_nac1["mes_insc"] = df_nac1["mes_insc"].str.strip().str.replace(r'"\s+', '"').str.replace(r'\s+"', '"')
df_nac1["sexo"] = df_nac1["sexo"].str.strip().str.replace(r'"\s+', '"').str.replace(r'\s+"', '"')
df_nac1["mes_nac"] = df_nac1["mes_nac"].str.strip().str.replace(r'"\s+', '"').str.replace(r'\s+"', '"')
df_nac1["prov_nac"] = df_nac1["prov_nac"].str.strip().str.replace(r'"\s+', '"').str.replace(r'\s+"', '"')
df_nac1["cant_nac"] = df_nac1["cant_nac"].str.strip().str.replace(r'"\s+', '"').str.replace(r'\s+"', '"')
df_nac1["parr_nac"] = df_nac1["parr_nac"].str.strip().str.replace(r'"\s+', '"').str.replace(r'\s+"', '"')
df_nac1["prov_res"] = df_nac1["prov_res"].str.strip().str.replace(r'"\s+', '"').str.replace(r'\s+"', '"')
df_nac1["cant_res"] = df_nac1["cant_res"].str.strip().str.replace(r'"\s+', '"').str.replace(r'\s+"', '"')
df_nac1["parr_res"] = df_nac1["parr_res"].str.strip().str.replace(r'"\s+', '"').str.replace(r'\s+"', '"')

<ipython-input-103-6a7489761c17>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_nac1["prov_insc"] = df_nac1["prov_insc"].str.strip().str.replace(r'"\s+', '"').str.replace(r'\s+"', '"')
<ipython-input-103-6a7489761c17>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_nac1["cant_insc"] = df_nac1["cant_insc"].str.strip().str.replace(r'"\s+', '"').str.replace(r'\s+"', '"')
<ipython-input-103-6a7489761c17>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df_nac1["parr_insc"] = df_nac1["parr_insc"].str.strip().str.replace(r'"\s+', '"').str.replace(r'\s+"', '"')
<ipython-input-103-6a7489761c17>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df_nac1["mes_insc"] = df_nac1["mes_insc"].str.strip().str.replace(r'"\s+', '"').str.replace(r'\s+"', '"')
<ipython-input-103-6a7489761c17>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df_nac1["sexo"] = df_nac1["sexo"].str.strip().str.replace(r'"\s+', '"').str.replace(r'\s+"', '"')
<ipython-input-103-6a7489761c17>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  df_nac1["mes_nac"] = df_nac1["mes_nac"].str.strip().str.replace(r'"\s+', '"').str.replace(r'\s+"', '"')
<ipython-input-103-6a7489761c17>:8: FutureWarning: The default value of regex will change from True to False in a future version.
  df_nac1["prov_nac"] = df_nac1["prov_nac"].str.strip().str.replace(r'"\s+', '"').str.replace(r'\s+"', '"')
<ipython-input-103-6a7489761c17>:9: FutureWarning: The default value of regex will change from True to False in a future version.
  df_nac1["cant_nac"] = df_nac1["cant_nac"].str.strip().str.replace(r'"\s+', '"').str.replace(r'\s+"', '"')
<ipython-input-103-6a7489761c17>:10: FutureWarning: The default value of regex will change from True to False in a future version.
  df_nac1["parr_nac"] = df_nac1["parr_nac"].str.strip().str.replace(r'"\s+', '"').str.replace(r'\s+"', '"')
<ipython-input-103-6a7489761c17>:11: FutureWarning: The default value of regex will change from True to False in a future version.
  df_nac1["prov_res"] = df_nac1["prov_res"].str.strip().str.replace(r'"\s+', '"').str.replace(r'\s+"', '"')
<ipython-input-103-6a7489761c17>:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df_nac1["cant_res"] = df_nac1["cant_res"].str.strip().str.replace(r'"\s+', '"').str.replace(r'\s+"', '"')
<ipython-input-103-6a7489761c17>:13: FutureWarning: The default value of regex will change from True to False in a future version.
  df_nac1["parr_res"] = df_nac1["parr_res"].str.strip().str.replace(r'"\s+', '"').str.replace(r'\s+"', '"')

In [ ]:
df_nac1.head()

,prov_insc,cant_insc,parr_insc,anio_insc,mes_insc,sexo,talla,peso,sem_gest,tipo_part,anio_nac,mes_nac,p_emb,lugar_ocur,prov_nac,cant_nac,parr_nac,asis_por,area_nac,edad_mad,con_pren,hij_viv,hij_vivm,hij_nacm,etnia,est_civil,sabe_leer,niv_inst,prov_res,cant_res,parr_res,area_res
4741,Azuay,Cuenca,Cuenca,2012.0,Mayo,Hombre,45.0,1800.0,35.0,Normal,2012.0,Mayo,Simple,Establecimiento_ministerio_de_salud,Azuay,Cuenca,Cuenca,Medico,Urbana,27.0,9.0,3.0,1.0,1.0,Mestiza,Casada,Si,Primaria,Azuay,Cuenca,Cuenca,Urbana
4755,Azuay,Cuenca,Cuenca,2012.0,Mayo,Mujer,46.0,2500.0,38.0,Normal,2012.0,Mayo,Simple,Hospital_clinica_consultorio_privado,Azuay,Cuenca,Cuenca,Medico,Urbana,19.0,12.0,2.0,0.0,0.0,Mestiza,Soltera,Si,Superior,Azuay,Cuenca,Cuenca,Urbana
4865,Azuay,Cuenca,Cuenca,2012.0,Mayo,Mujer,45.0,2340.0,38.0,Normal,2012.0,Mayo,Simple,Establecimiento_IESS,Azuay,Cuenca,Cuenca,Medico,Urbana,17.0,12.0,1.0,0.0,0.0,Mestiza,Unida,Si,Secundaria,Azuay,Cuenca,Cuenca,Urbana
4870,Azuay,Cuenca,Cuenca,2012.0,Mayo,Mujer,50.0,3600.0,38.0,Normal,2012.0,Mayo,Simple,Establecimiento_ministerio_de_salud,Azuay,Cuenca,Cuenca,Medico,Urbana,28.0,6.0,3.0,0.0,1.0,Mestiza,Casada,Si,Secundaria,Azuay,Cuenca,Cuenca,Urbana
4917,Azuay,Cuenca,Cuenca,2012.0,Mayo,Hombre,50.0,3000.0,39.0,Normal,2012.0,Febrero,Simple,Establecimiento_ministerio_de_salud,Azuay,Cuenca,Cuenca,Medico,Urbana,23.0,3.0,3.0,0.0,1.0,Otra,Viuda,Si,Primaria,Azuay,Cuenca,Sinicay,Rural

In [ ]:
df_nac1["cant_nac"].value_counts()

Guayaquil                       165579
Quito                           125616
Cuenca                           31642
Santo Domingo                    24746
Ambato                           23477
Riobamba                         16499
Quevedo                          16486
Portoviejo                       16412
Loja                             16400
Manta                            15399
Machala                          15008
Milagro                          13209
Latacunga                        12804
Esmeraldas                       11365
Babahoyo                         10570
Ibarra                            8977
Lago Agrio                        7601
Daule                             7138
Santa Elena                       6446
Azoques                           6415
Orellana                          5752
Chone                             5705
Tena                              5512
Guaranda                          5322
Santa Rosa                        5101
Otavalo                           5007
Tulcan                            4705
Pastaza                           4613
La Libertad                       4568
Empalme                           4398
Vinces                            3809
Quininde                          3774
Sucre                             3307
Ruminahui                         3292
Pasaje                            3255
Morona                            3231
Jipijapa                          3207
Cayambe                           3038
Ventanas                          3004
Salinas                           2993
Buena Fe                          2983
La Troncal                        2841
Duran                             2686
Naranjal                          2339
Mejia                             2331
Huaquillas                        2273
Playas                            2224
Zamora                            2178
Bolivar                           2134
Balzar                            2103
Atacames                          2046
Canar                             2026
El Carmen                         1960
San Pedro de Pelileo              1952
Gualaceo                          1948
El Guabo                          1900
Pinas                             1893
Pujili                            1796
Sucua                             1786
La Mana                           1766
San Lorenzo                       1714
El Triunfo                        1594
Calvas                            1528
Salcedo                           1472
Paltas                            1452
Yantzaza                          1299
Gualaquiza                        1234
Naranjito                         1128
Rocafuerte                        1126
Cotacahi                          1053
Pedernales                        1041
Saraguro                          1028
Urdaneta                          1018
Santiago de Pillaro               1009
Colta                              996
San Jacinto de Yaguachi            956
Baba                               944
Alausi                             929
Pedro Moncayo                      900
RioVerde                           893
Pajan                              874
Sigsig                             857
Antonio Ante                       851
Santa Isabel                       843
Guamote                            842
Lomas de Sargentillo               814
Saquisili                          795
Zaruma                             788
Muisne                             786
Shushufindi                        771
Puyango                            768
Pedro Carbo                        753
Giron                              702
Eloy Alfaro                        700
Puebloviejo                        696
Santa Cruz                         669
La Joya de Los Sachas              659
Montufar                           632
Macara                             626
Montecristi                        617
Samborondon                        601
Santa Lucia                        596
Arenillas                          593
Flavio Alfaro                      588
Catamayo                           571
Paute                              566
Chillanes                          548
Quijos                             539
Tosagua                            516
Salitre                            496
San Miguel                         482
Loreto                             474
Limon Indanza                      465
Pichincha                          452
Chinchipe                          448
Junin                              438
Taisha                             428
Santa Ana                          412
Camilo Ponce Enriquez              353
Santiago                           348
San Miguel de los Bancos           337
Sigchos                            333
Quero                              314
Banos de Agua Santa                308
Espindola                          307
Nabon                              296
Pangua                             291
La Condordia                       280
Chunchi                            278
Archidona                          260
Palanda                            257
Puerto Quito                       242
Zapotillo                          229
Pedro Vicente Maldonado            224
Caluma                             221
Gonzalo Pizarro                    219
San Vicente                        210
Puerto Lopez                       192
Jama                               188
San Cristobal                      187
Biblian                            183
Yacuambi                           183
Crnel. Marcelino Mariduena         180
Pimampiro                          178
Espejo                             163
24 de Mayo                         163
El Pangui                          161
Palora                             151
Cascales                           143
Echeandia                          136
Putumayo                           134
El Chaco                           125
Suscal                             119
Cuyabeno                           119
Mera                               117
Valencia                           110
Gnral. Antonio Elizalde            102
Logrono                             99
Balsas                              95
Celica                              90
Aguarico                            90
San Juan Bosco                      89
San Miguel de Urcuqui               83
Ona                                 76
Guano                               76
Mocha                               69
Pallatanga                          69
Deleg                               66
Balao                               61
Mocache                             60
Tiwintza                            60
Montalvo                            59
Carlos Julio Arrosemena Tola        57
Gonzanama                           56
Mira                                55
Nangaritza                          53
Olmedo                              50
Chilla                              46
Cumanda                             44
Pucara                              44
Chimbo                              43
Sevilla de Oro                      41
Pindal                              41
Sucumbios                           40
Las Naves                           35
Chaguarpamba                        35
Palestina                           31
Chambo                              31
Quilanga                            31
Las Golondrinas                     30
Arajuno                             30
Isidro Ayora                        25
Patate                              22
Palenque                            20
Marcabeli                           20
Jaramijo                            17
Paquisha                            16
Huamboya                            14
Sozoranga                           14
Centinela del Condor                14
San Fernando                        14
Santa Clara                         13
Portovelo                           13
El Tambo                            12
Olemdo                              12
Colimes                             11
Chordeleg                           11
Isabela                             11
Nobol                                9
Simon Bolivar                        8
Penipe                               8
Alfredo Baquerizo Moreno             7
Cevallos                             4
San Pedro de Huaca                   4
Tisaleo                              4
Las Lajas                            2
El Pan                               2
Pablo Sexto                          2
Atahualpa                            2
Quinsaloma                           1
Manga del Cura                       1
Name: cant_nac, dtype: int64

## Análisis del data frame de los años 2016-2021

In [ ]:
#concatenación de datos del año 2016 hasta 2021
df_nac2 = pd.concat([df5, df6, df7, df8, df9, df10])

In [ ]:
df_nac2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1729694 entries, 0 to 254572
Data columns (total 32 columns):
 #   Column      Dtype
---  ------      -----
 0   prov_insc   object
 1   cant_insc   object
 2   parr_insc   object
 3   anio_insc   object
 4   mes_insc    object
 5   sexo        object
 6   talla       object
 7   peso        object
 8   sem_gest    object
 9   tipo_part   object
 10  anio_nac    int64
 11  mes_nac     object
 12  p_emb       object
 13  lugar_ocur  object
 14  prov_nac    object
 15  cant_nac    object
 16  parr_nac    object
 17  asis_por    object
 18  area_nac    object
 19  edad_mad    object
 20  con_pren    object
 21  hij_viv     int64
 22  hij_vivm    object
 23  hij_nacm    object
 24  etnia       object
 25  est_civil   object
 26  sabe_leer   object
 27  niv_inst    object
 28  prov_res    object
 29  cant_res    object
 30  parr_res    object
 31  area_res    object
dtypes: int64(2), object(30)
memory usage: 435.5+ MB

In [ ]:
df_nac2.isna().sum()

prov_insc        0
cant_insc        0
parr_insc        0
anio_insc        0
mes_insc         0
sexo             0
talla         9220
peso          9182
sem_gest      9177
tipo_part        0
anio_nac         0
mes_nac          0
p_emb            0
lugar_ocur       0
prov_nac         0
cant_nac         0
parr_nac         0
asis_por         0
area_nac         0
edad_mad      1178
con_pren      7435
hij_viv          0
hij_vivm      6871
hij_nacm      6871
etnia            0
est_civil        0
sabe_leer        0
niv_inst         0
prov_res         0
cant_res         0
parr_res         0
area_res         0
dtype: int64

Debido a que el marco de datos df_def2 está completo y no es necesario codificarlo, nada más trabajaremos sobre los datos faltantes y medidas desproporcionadas en las columnas numéricas y tipo de datos erroneos

In [ ]:
#debido a que son pocos datos los que se encuentran vacios los vamos a eliminar
df_nac2 = df_nac2.dropna()

In [ ]:
df_nac2["anio_nac"].value_counts()

2018    294228
2017    291957
2019    286429
2016    281871
2020    266357
2021    242611
2015     17340
2014     14308
2013      8749
2012      6005
2011      3475
2010      1537
2009      1027
2008       660
2007       585
2006       439
2005       374
2004       324
2002       258
2003       231
2001       206
2000       205
1999       129
1998        35
1997        22
1995        18
1993        17
1996        15
1965        15
1994        13
1950        13
1966        12
1946        11
1932        11
1992        11
1988        10
1962        10
1963        10
1952        10
1990        10
1986         9
1982         9
1954         9
1948         9
1960         9
1961         9
1925         8
1944         8
1983         8
1949         8
1973         8
1991         8
1955         8
1947         8
1940         7
1970         7
1972         7
1939         7
1957         7
1900         7
1901         6
1933         6
1956         6
1969         6
1937         6
1987         6
1974         6
1964         6
1967         6
1959         6
1975         6
1941         6
1968         6
1935         5
1912         5
1942         5
1902         5
1984         5
1928         5
1977         5
1971         5
1979         5
1989         4
1917         4
1934         4
1953         4
1938         4
1980         4
1985         4
1936         4
1909         4
1978         4
1927         3
1945         3
1951         3
1914         3
1904         3
1930         3
1976         3
1931         3
1922         3
1894         3
1981         3
1923         3
1913         3
1958         3
1908         2
1921         2
1915         2
1880         2
1886         2
1929         2
1889         2
1916         2
1943         2
1873         2
1920         2
1869         2
1881         1
1911         1
1906         1
1891         1
1893         1
1907         1
1926         1
1918         1
1892         1
1884         1
1924         1
1887         1
1882         1
1857         1
1899         1
1883         1
1903         1
Name: anio_nac, dtype: int64

In [ ]:
#escogemos que los registros de años de nacimiento sean mayores al 2016
df_nac2 = df_nac2.loc[df_nac2["anio_nac"] > 2015]

In [ ]:
df_nac2["anio_nac"].value_counts()

2018    294228
2017    291957
2019    286429
2016    281871
2020    266357
2021    242611
Name: anio_nac, dtype: int64

In [ ]:
df_nac2["anio_insc"].value_counts()

2018    274177
2017    266289
2019    245878
2020    225968
2021    223817
2016    218898
        106059
2019     29841
2022     21370
2016     18750
1900     16066
2017     14531
2018      1809
Name: anio_insc, dtype: int64

In [ ]:
df_nac2 = df_nac2.loc[df_nac2["edad_mad"] != "Sin informacion",:]

In [ ]:
#cambiamos la edad de la madre de objeto a float
df_nac2["edad_mad"] = df_nac2["edad_mad"].astype(float)

In [ ]:
df_nac2["edad_mad"].describe()

count    1.634651e+06
mean     2.603657e+01
std      6.654465e+00
min      1.000000e+01
25%      2.100000e+01
50%      2.500000e+01
75%      3.100000e+01
max      5.600000e+01
Name: edad_mad, dtype: float64

In [ ]:
df_nac2["hij_viv"].describe()

count    1.634651e+06
mean     2.106755e+00
std      1.276398e+00
min      1.000000e+00
25%      1.000000e+00
50%      2.000000e+00
75%      3.000000e+00
max      1.900000e+01
Name: hij_viv, dtype: float64

In [ ]:
df_nac2 = df_nac2.loc[df_nac2["hij_vivm"] != "Sin informacion",:]

In [ ]:
#cambiamos numero de hijos vivos de objeto a float
df_nac2["hij_vivm"] = df_nac2["hij_vivm"].astype(float)

In [ ]:
df_nac2["hij_vivm"].describe()

count    1.631106e+06
mean     2.408121e-02
std      1.876823e-01
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.000000e+01
Name: hij_vivm, dtype: float64

In [ ]:
df_nac2 = df_nac2.loc[df_nac2["hij_nacm"] != "Sin informacion",:]

In [ ]:
#cambiamos numero de hijos vivos de objeto a float
df_nac2["hij_nacm"] = df_nac2["hij_nacm"].astype(float)

In [ ]:
df_nac2["hij_nacm"].describe()

count    1.630949e+06
mean     2.316811e-02
std      1.833544e-01
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.000000e+01
Name: hij_nacm, dtype: float64

In [ ]:
df_nac2 = df_nac2.loc[df_nac2["con_pren"] != "Sin informacion",:]

In [ ]:
#cambiamos numero de hijos vivos de objeto a float
df_nac2["con_pren"] = df_nac2["con_pren"].astype(float)

In [ ]:
df_nac2["con_pren"].describe()

count    1.627329e+06
mean     6.387297e+00
std      2.657853e+00
min      0.000000e+00
25%      5.000000e+00
50%      6.000000e+00
75%      8.000000e+00
max      2.500000e+01
Name: con_pren, dtype: float64

In [ ]:
df_nac2 = df_nac2.loc[df_nac2["sem_gest"] != "Sin informacion",:]

In [ ]:
#cambiamos numero de hijos vivos de objeto a float
df_nac2["sem_gest"] = df_nac2["sem_gest"].astype(float)

In [ ]:
df_nac2["cant_nac"] = df_nac2["cant_nac"].replace(dicc_canto)

In [ ]:
df_nac2["cant_nac"].value_counts().head()

Guayaquil        271089
Quito            195353
Santo Domingo     54180
Guayaquil         53497
Cuenca            49624
Name: cant_nac, dtype: int64

In [ ]:
df_nac2["cant_res"] = df_nac2["cant_res"].replace(dicc_canto)

In [ ]:
df_nac2["parr_nac"] = df_nac2["parr_nac"].replace(dicc_parro)

In [ ]:
df_nac2["parr_res"] = df_nac2["parr_res"].replace(dicc_parro)

## Concatenación de datos de todos los años

In [ ]:
nacimientos = pd.concat([df_nac1, df_nac2])

In [ ]:
nacimientos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2334076 entries, 4741 to 254572
Data columns (total 32 columns):
 #   Column      Dtype
---  ------      -----
 0   prov_insc   object
 1   cant_insc   object
 2   parr_insc   object
 3   anio_insc   object
 4   mes_insc    object
 5   sexo        object
 6   talla       object
 7   peso        object
 8   sem_gest    float64
 9   tipo_part   object
 10  anio_nac    float64
 11  mes_nac     object
 12  p_emb       object
 13  lugar_ocur  object
 14  prov_nac    object
 15  cant_nac    object
 16  parr_nac    object
 17  asis_por    object
 18  area_nac    object
 19  edad_mad    float64
 20  con_pren    float64
 21  hij_viv     float64
 22  hij_vivm    float64
 23  hij_nacm    float64
 24  etnia       object
 25  est_civil   object
 26  sabe_leer   object
 27  niv_inst    object
 28  prov_res    object
 29  cant_res    object
 30  parr_res    object
 31  area_res    object
dtypes: float64(7), object(25)
memory usage: 587.7+ MB

In [ ]:
nacimientos.isna().sum()

prov_insc          0
cant_insc       1868
parr_insc     405415
anio_insc          0
mes_insc           0
sexo               0
talla              0
peso               0
sem_gest           0
tipo_part          0
anio_nac           0
mes_nac            0
p_emb              0
lugar_ocur         0
prov_nac           0
cant_nac        1601
parr_nac      115694
asis_por           0
area_nac           0
edad_mad           0
con_pren           0
hij_viv            0
hij_vivm           0
hij_nacm           0
etnia              0
est_civil          0
sabe_leer          0
niv_inst           0
prov_res         145
cant_res        2059
parr_res      275732
area_res           0
dtype: int64

In [ ]:
nacimientos["sexo"].value_counts()

Hombre    1194437
Mujer     1139639
Name: sexo, dtype: int64

In [ ]:
nacimientos["sem_gest"].value_counts()

39.0    720044
38.0    615072
40.0    479324
37.0    225294
41.0    112690
36.0     70285
35.0     30782
34.0     20595
42.0     17057
33.0     11608
32.0      9134
30.0      5104
31.0      5066
28.0      3397
29.0      3044
27.0      1826
26.0      1458
25.0       969
24.0       707
23.0       342
22.0       267
21.0        11
Name: sem_gest, dtype: int64

In [ ]:
nacimientos["asis_por"].value_counts()

Medico/a                      1411468
Medico                         628088
Obstetriz/Obstetra             179541
Obstetra                       101310
Otro                             7465
Partero_a_no_calificado          2965
Partero/a no calilficado/a       1568
Partero_a_calificad               746
Partero/a calificado/a            598
Auxiliar_enfermeria               155
Enfermero_a                       121
Enfermero/a                        28
Auxiliar de enfermeria             23
Name: asis_por, dtype: int64

In [ ]:
#corrección de clases en la columna asis_por
nacimientos['asis_por'] = nacimientos['asis_por'].replace({'Medico/a': 'Medico',"Obstetriz/Obstetra":"Obstetra","Partero_a_no_calificado":"Partero/a no calilficado/a","Partero_a_calificad":"Partero/a calificado/a","Enfermero_a":"Enfermero/a","Auxiliar de enfermeria":"Auxiliar_enfermeria"})

In [ ]:
nacimientos["asis_por"].value_counts()

Medico                        2039556
Obstetra                       280851
Otro                             7465
Partero/a no calilficado/a       4533
Partero/a calificado/a           1344
Auxiliar_enfermeria               178
Enfermero/a                       149
Name: asis_por, dtype: int64

In [ ]:
nacimientos["p_emb"].value_counts()

Simple             2300024
Doble                33360
Triple                 636
Cuadruple_o_mas         25
Cuadruple o mas         20
Quintuple               10
Cuadruple                1
Name: p_emb, dtype: int64

In [ ]:
#correccion de clases
nacimientos['p_emb'] = nacimientos['p_emb'].replace({'Cuadruple o mas': 'Cuadruple_o_mas'})

In [ ]:
nacimientos["lugar_ocur"].value_counts()

Establecimiento del Ministerio de Salud        1015104
Establecimiento_ministerio_de_salud             396426
Hospital, Clinica o Consultorio Privado         353412
Hospital_clinica_consultorio_privado            188190
Establecimiento del IESS                        143338
Establecimiento_junta_beneficiaria               67361
Establecimiento de la Junta de Beneficencia      54146
Establecimiento_IESS                             52836
Otro Establecimiento Publico                     20750
Otro_establecimiento_publico                     19144
Casa                                             16631
Otro                                              6738
Name: lugar_ocur, dtype: int64

In [ ]:
#correccion de clases
nacimientos['lugar_ocur'] = nacimientos['lugar_ocur'].replace({'Establecimiento del Ministerio de Salud': 'Establecimiento_ministerio_de_salud',"Hospital, Clinica o Consultorio Privado":"Hospital_clinica_consultorio_privado","Establecimiento del IESS":"Establecimiento_IESS","Establecimiento de la Junta de Beneficencia":"Establecimiento_junta_beneficiaria","Otro Establecimiento Publico":"Otro_establecimiento_publico"})

In [ ]:
nacimientos["lugar_ocur"].value_counts()

Establecimiento_ministerio_de_salud     1411530
Hospital_clinica_consultorio_privado     541602
Establecimiento_IESS                     196174
Establecimiento_junta_beneficiaria       121507
Otro_establecimiento_publico              39894
Casa                                      16631
Otro                                       6738
Name: lugar_ocur, dtype: int64

In [ ]:
nacimientos["area_nac"].value_counts()

Urbana    2238102
Rural       95974
Name: area_nac, dtype: int64

In [ ]:
nacimientos["edad_mad"].value_counts()

20.0    131077
21.0    128969
19.0    128012
22.0    125633
23.0    122107
24.0    119987
25.0    118097
26.0    115640
18.0    113234
27.0    112519
28.0    107609
29.0    102741
30.0     97346
17.0     92752
31.0     89982
32.0     82599
33.0     74776
16.0     66926
34.0     66207
35.0     59807
36.0     51891
37.0     43235
38.0     36297
15.0     36075
39.0     29100
40.0     22379
41.0     15934
14.0     13550
42.0     10876
43.0      6618
44.0      3890
13.0      3455
45.0      2042
46.0      1021
12.0       570
47.0       461
48.0       281
49.0       185
11.0        97
50.0        37
51.0        19
10.0        14
52.0        10
53.0         6
54.0         6
55.0         5
56.0         2
Name: edad_mad, dtype: int64

In [ ]:
nacimientos["hij_viv"].value_counts()

1.0     936316
2.0     724041
3.0     410163
4.0     157370
5.0      58858
6.0      25190
7.0      11438
8.0       5463
9.0       2755
10.0      1355
11.0       607
12.0       318
13.0       139
14.0        44
15.0        13
17.0         3
16.0         1
18.0         1
19.0         1
Name: hij_viv, dtype: int64

In [ ]:
nacimientos["hij_vivm"].value_counts()

0.0     2282085
1.0       44915
2.0        5226
3.0        1180
4.0         355
5.0         136
6.0         112
7.0          24
10.0         18
8.0          14
9.0          11
Name: hij_vivm, dtype: int64

In [ ]:
nacimientos["hij_nacm"].value_counts()

0.0     2283181
1.0       42787
2.0        6309
3.0        1175
4.0         309
6.0         133
5.0         122
7.0          18
10.0         17
9.0          13
8.0           8
12.0          2
13.0          1
11.0          1
Name: hij_nacm, dtype: int64

In [ ]:
nacimientos["con_pren"].value_counts()

5.0     371253
6.0     365695
8.0     346311
7.0     297611
9.0     271682
4.0     183022
10.0    138898
3.0     113592
2.0      66380
12.0     48601
1.0      39822
0.0      36087
11.0     18994
15.0     15323
13.0      6578
14.0      5405
20.0      3807
16.0      1612
18.0      1330
25.0       955
17.0       501
19.0       250
22.0       112
21.0        93
24.0        88
23.0        74
Name: con_pren, dtype: int64

In [ ]:
nacimientos["est_civil"].value_counts()

Soltera            886508
Casada             681954
Unida              623168
Union libre         43596
Divorciada          33933
Union de hecho      32114
Se ignora           17260
Union de Hecho       6182
Viuda                4127
Separada             4118
Sin informacion      1116
Name: est_civil, dtype: int64

In [ ]:
nacimientos['est_civil'] = nacimientos['est_civil'].replace({'Sin informacion': 'Se ignora',"Union de Hecho":"Union de hecho"})

In [ ]:
nacimientos["sabe_leer"].value_counts()

Si                 2312465
No                   13321
Ignorado              6770
Sin informacion       1520
Name: sabe_leer, dtype: int64

In [ ]:
nacimientos['sabe_leer'] = nacimientos['sabe_leer'].replace({'Sin informacion': 'Ignorado'})

In [ ]:
nacimientos["niv_inst"].value_counts()

Secundaria                        562309
Educacion Basica                  359840
Primaria                          358453
Educacion Media / Bachillerato    270728
Superior universitario            229343
Superior                          169880
Educacion_media                    74960
Superior no universitario          57035
Educacion media / bachillerato     51276
Educacion_basica                   48575
Educacion basica                   41770
Se_ignora                          37621
Educacion Media /Bachillerato      29883
Ninguno                            12936
Ciclo_post_bachillerato            12428
Postgrado                           6283
Ciclo Post - Bachillerato           3523
Sin informacion                     3047
Centro_de_alfabetizacion            1672
Centro de alfabetizacion            1314
Posgrado                             927
Centro de Alfabetizacion             273
Name: niv_inst, dtype: int64

In [ ]:
nacimientos['niv_inst'] = nacimientos['niv_inst'].replace({'Educacion_media': 'Educacion Media / Bachillerato',"Educacion media / bachillerato": 'Educacion Media / Bachillerato',"Educacion Media /Bachillerato":"Educacion Media / Bachillerato","Educacion Basica":"Educacion_basica","Sin informacion":"Se_ignora","Ciclo Post - Bachillerato":"Ciclo_post_bachillerato","Centro de Alfabetizacion":"Centro_de_alfabetizacion"})

In [ ]:
nacimientos["niv_inst"].value_counts()

Secundaria                        562309
Educacion Media / Bachillerato    426847
Educacion_basica                  408415
Primaria                          358453
Superior universitario            229343
Superior                          169880
Superior no universitario          57035
Educacion basica                   41770
Se_ignora                          40668
Ciclo_post_bachillerato            15951
Ninguno                            12936
Postgrado                           6283
Centro_de_alfabetizacion            1945
Centro de alfabetizacion            1314
Posgrado                             927
Name: niv_inst, dtype: int64

In [ ]:
#Guardamos el data frame de defunciones en un archivo
nacimientos.to_csv('nacimiento.csv', index=False)